@page "/UserCreate"
@inject NavigationManager navManager
@inject IUserData userData
@inject IJSRuntime JS


@if (notAdmin)
{
    <h1>Unauthorized Access</h1>   
} else
{
<h1>Add User</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm Model="userModel" method="post">
            <div class="group-left">
                <div class="form-group">
                    <label for="username">First Name</label>
                    <InputText @bind-Value="@userModel.FirstName" type="text" id="firstname" name="firstname" required />
                </div>
                <div class="form-group">
                    <label for="password">Last Name</label>
                    <InputText @bind-Value="@userModel.LastName" type="text" id="lastname" name="lastname" required />
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <InputText @bind-Value="@userModel.Username" type="text" id="username" name="username" required />
                </div>
                
            </div>
            <div class="group-right">

                <div class="form-group">
                    <label for="password">Email</label>
                    <InputText @bind-Value="@userModel.Email" type="text" id="email" name="email" required />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <InputText @bind-Value="@userModel.PasswordHash" type="password" id="pass" name="pass" required />
                </div>
                <div class="form-group">
                    <label for="type">Type</label>
                    <InputSelect TValue="UserType" @bind-Value="type" required>
                         <option value="@UserType.User">User</option>
                         <option value="@UserType.Admin">Admin</option>
                    </InputSelect>
                </div>
            </div>
            <div class="form-group">
                <input style="margin:10px 0 10px 0" @onclick="HandleSubmit" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </EditForm>
    </div>
</div>

<div>
    <a class="btn btn-primary" href="javascript: history.go(-1)">Back to List</a>
    <h3> @message </h3>
</div>
}
@code {
    User userModel = new User();
    User admin = new User();
    UserType type;
    string message = "";
    int Id;
    bool notAdmin = false;

    protected async override Task OnInitializedAsync()
    {
        var uri = new Uri(navManager.Uri);

        var queryString = uri.Query;

        if (!string.IsNullOrWhiteSpace(queryString))
        {
            Id = int.Parse(queryString.Substring(1));
        }

        try
        {
            admin = await userData.GetUser(Id);
        }
        catch (Exception e)
        { }

        if (admin.UserType != UserType.Admin)
        {
            notAdmin = true;
        }
    }


    private async Task HandleSubmit()
    {
        userModel.UserType = type;
        try
        {
            var response = await userData.InsertUser(userModel);

        }catch(Exception e)
        {
            message = "User Already Exists";
        }

        navManager.NavigateTo("/Admin?" + admin.UserId);

    }



}
