@page "/cart/{UserId:int}"
@using DatabaseProject_.Util
@using System.Diagnostics.Eventing.Reader
@inject NavigationManager navManager
@inject IUserData userData
@inject IBookData bookData
@inject IOrderData orderData
@inject IOrderItemData orderItemData
@inject IJSRuntime JS

<PageTitle>Cart</PageTitle>

<section class="shop_section layout_padding">
    
    <div class="container">
        
        <div class="heading_container heading_center">
            <h2>
                Cart
            </h2>
        </div>

        @if (!HasCart)
        {
            <h2>You have nothing in the cart</h2>
        }
        else
        {
            @foreach (var book in Books)
            {
                <div class="box" style="display: flex;">
                    <div style="width: 50%; flex: 1; margin: 20px;">
                        <h2>
                            @book.Title
                        </h2>
                        <p>@book.PublicationDate</p>
                        <p>@book.Publisher</p>
                        <p>AED @book.Price</p>
                        <NavLink class="btn btn-danger" style="color: white;" @onclick="() => HandleRemoval(book.BookId)">✖ Remove</NavLink>
                    </div>
                    <div class="img-box" style="flex: 1;">
                        <img src=@ImageConverter.BytesToSrc(book.CoverImage) alt="Book Cover" style="">
                    </div>
                </div>
            }

            <div class="heading_center">
                Total Price: AED @(Books.Sum(b => b.Price))
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-box">
                        <a @onclick="@HandleCheckout" class="btn1" style="cursor: pointer;font-weight: bold; background-color: green; color: white;">
                            <span class="btn1_text">Checkout</span>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>

</section>

@code {

    [Parameter]
    public int UserId { get; set; }

    public Order? CartOrder { get; set; }

    private List<OrderItem> OrderItems { get; set; } = new();
    private List<Book> Books { get; set; } = new();

    private bool HasCart { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var orders = (await orderData.GetOrdersByUser(UserId)).ToList();

            CartOrder = orders.FirstOrDefault(o => o.Status == OrderStatus.Pending);
            if (CartOrder == null)
                throw new OrderData.OrderNotFoundException();
        }
        catch (OrderData.OrderNotFoundException e)
        {
            HasCart = false;
            return;
        }

        try
        {
            OrderItems = (await orderItemData.GetOrderItems(CartOrder.OrderId)).ToList();
            Books = (await bookData.GetBooksByOrder(CartOrder.OrderId)).ToList();
        }
        catch (OrderItemData.OrderItemNotFoundException e)
        {
            HasCart = false;
            return;
        }
        catch (BookData.BookNotFoundException e)
        {
            HasCart = false;
            return;
        }

    }

    private async Task HandleCheckout()
    {
        CartOrder.Status = OrderStatus.Completed;
        CartOrder.OrderDate = DateTime.Now;
        await orderData.UpdateOrder(CartOrder);

        //refresh page
        navManager.NavigateTo("/cart/" + UserId + "/?" + UserId, true);
    }

    private async Task HandleRemoval(int BookId)
    {
        await orderItemData.DeleteOrderItem(CartOrder.OrderId, BookId);
        Books = Books.Where(book => book.BookId != BookId).ToList();

        // Manually trigger component render
        StateHasChanged();
    }
}
